 <form *ngIf="step1" class="form container" [formGroup]="emailform" (ngSubmit)="submitForm()">
    <p class="title">Reset Password </p>
    <label>
        <input class="input" type="email" placeholder="Email"  formControlName="email">
        <div *ngIf="emailform.get('email')?.errors && emailform.get('email')?.touched" class="alert alert-danger mt-2 w-50 p-1 mb-0"> 
            <p class="mb-0 small" *ngIf="emailform.get('email')?.hasError('required')">email is Required</p>
            <p class="mb-0 small" *ngIf="emailform.get('email')?.hasError('email')">Email is Invalid</p>
         </div>
    </label> 
<button [disabled]="!emailform.valid"  class="btn btn-success">
    <span >Submit</span>
</button>
<div *ngIf="userMess" class="alert alert-info mt-2 w-50 p-1 mb-0 mx-auto text-center">
    {{userMess}}
</div>

</form>

<!-- ? step 2 -->

<form *ngIf="step2" class="form container" [formGroup]="resetCodeForm" (ngSubmit)="submitRestetForm()">
    <label>
        <input class="input" type="text" placeholder="Reset Code"  formControlName="resetCode">
    </label> 
<button [disabled]="!resetCodeForm.valid"  class="btn btn-success">
    <span *ngIf="!loading">Submit</span>
    <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
</button>
<div *ngIf="userMess" class="alert alert-info mt-2 w-50 p-1 mb-0 mx-auto text-center">
    {{userMess}}
</div>
</form> 

<!-- !step 3  -->
<div *ngIf="step3" class="center-container mt-5">
    <form  class="form container " [formGroup]="resetNewPassword" (ngSubmit)="submitRestetPass()">
    
        <label>
            <input class="input" type="password" placeholder="New Password" formControlName="newPassword">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger mt-2 w-50 p-1 mb-0"> 
             <p class="mb-0 small" *ngIf="loginForm.get('password')?.getError('required')"> New password is Required</p>
             <p class="mb-0 small" *ngIf="loginForm.get('password')?.getError('pattern')">Password must be at least 6 characters long</p>
          </div>
        </label>
       
    
    
    <!-- <button [disabled]="!resetNewPassword.valid"  class="btn btn-success">
        <span *ngIf="!loading">Submit</span>
        <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
    </button> -->
    <button class="btn btn-success">Submit</button>
    
    </form>
</div>

