<form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <p class="title">Log In </p>
    <p class="message">Signup now and get full access to our app. </p>



    <label>
        <input class="input" type="email" placeholder="Email"  formControlName="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger mt-2 w-50 p-1 mb-0"> 
            <p class="mb-0 small" *ngIf="loginForm.get('email')?.hasError('required')">email is Required</p>
            <p class="mb-0 small" *ngIf="loginForm.get('email')?.hasError('email')">Email is Invalid</p>
         </div>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="Password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger mt-2 w-50 p-1 mb-0"> 
         <p class="mb-0 small" *ngIf="loginForm.get('password')?.getError('required')">password is Required</p>
         <p class="mb-0 small" *ngIf="loginForm.get('password')?.getError('pattern')">Password must be at least 6 characters long</p>
      </div>
    </label>
   


<button [disabled]="!loginForm.valid"  class="btn btn-success"><span *ngIf="!loading">Submit</span><i *ngIf="loading" class="fas fa-spinner fa-spin"></i></button>
<a class="mt-1" routerLink="/forget">Forget Password .... ? </a>

</form>